* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url('https://occ-0-2164-299.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZlogqAf_6OfZxe1q0esZQSDAx9FjMiz6efN650Hx_b_GBAEfVQgwfDADqKxOwOBuioP_Ar29SV78ftyEczJWlFsuaJBdJe9_jNe.jpg?r=0a1');
    background-size: cover;
    background-repeat: no-repeat;
}